.google {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.button {
  background-color: rgb(103, 210, 230);
  height: 60px;
  width: 30%;
  transition: 1s all ease;
}
.button:hover {
  background-color: rgb(116, 116, 153);
}
.span {
  font-size: 25px;
}
